DEVELOPMENT_STAGE=0.0.1-dev

###> symfony/framework-bundle ###
# dev, test, prod
#APP_ENV=dev
#APP_DEBUG=true
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
#DATABASE_URL="postgresql://db_user:db_password@127.0.0.1:5432/db_name?serverVersion=11&charset=utf8"
###< doctrine/doctrine-bundle ###

#REDIS_CACHE_URL=redis://localhost:6379/10

#MEMCACHED_SERVER=localhost
#MEMCACHED_PORT=11211

#SERVER_PREFIX=work-time

#ADMIN_PASSWORD=admin_password
#ADMIN_EMAIL=adminemail@example.com
